# Python build artifacts
build/
dist/
*.egg-info/
.eggs/

# Byte-compiled / cache
__pycache__/
*.py[cod]

# Installer logs
pip-log.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.cache

# Virtual environments
.venv/
ENV/
venv/

# Misc
*.log